@import "colors.css";

* {
  font-family: "Iosevka Nerd Font Mono";
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @surface;
  color: @on_surface;
}

#clock, #cpu, #temperature, #pulseaudio,
#backlight, #battery, #custom-notify, #custom-lobster {
  background: transparent;
  padding: 0 2px;
}

#workspaces button {
  background: transparent;
  color: @outline;
  padding: 0 6px;
}

#workspaces button.active {
  color: @primary;
  font-weight: bold;
}

#battery.warning  { color: @secondary; }
#battery.critical { color: @error; }
#temperature.critical { color: @error; }

tooltip {
  background: alpha(@surface, 0.92);
  border: 1px solid @outline;
  border-radius: 0;
}

tooltip label {
  color: @on_surface;
  font-family: "Iosevka Nerd Font Mono";
  padding: 4px;
}